<%= form_for [@event, subscription] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

  <% unless user_signed_in? %>
    <%= f.input :user_name %>
    <%= f.input :user_email %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('subscriptions.form.subscribe'), class: 'btn btn-primary' %>
  </div>
<% end %>
